{% extends "base.html" %}

{% block title %}Formulario para pruebas{% endblock title %}

{% block main %}

    {% if producto_detalle %}
    <table>
        {% for k, v in producto_detalle %}
        <tr>
            <td>{{ k }}:</td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h2>Test de API</h2>
    <form action="/producto_detalle" method = "GET">
        <label for="idProducto">Código</label>
        <input type="text" name="idProducto" id="idProducto" required/>
        <input type="submit" value="Buscar" />
    </form>

    <form action="/eliminar_producto" method = "POST">
        <label for="idProductoDEL">Código</label>
        <input type="text" name="idProducto" id="idProductoDEL" required/>
        <input type="submit" value="Eliminar" />
    </form>

    <form action="/listado_productos">
        <label for="listado">Catálogo de productos</label>
        <input type="text" hidden id="listado">
        <input type="submit" value="Productos" />
    </form>

    <form action="/testBcchAPI"">
        <input type="submit" value="Test API Banco">
    </form>

    <h3>Crear producto</h3>
    <form action="/create" method = "POST">

        <label for="idCategoriaCreate">Categoría</label>
        <select name="idCategoria" id="idCategoriaCreate">
            <option value="1">Herramientas Manuales</option>
            <option value="2">Materiales Básicos</option>
            <option value="3">Equipos de Seguridad</option>
            <option value="4">Tornillos y Anclajes</option>
            <option value="5">Fijaciones y Adhesivos</option>
            <option value="6">Equipos de Medición</option>
        </select>
        <br>

        <label for="ProductoCreate">Producto</label>
        <input type="text" name="Producto" id="ProductoCreate" required>
        <br>
        <label for="MarcaCreate">Marca</label>
        <input type="text" name="Marca" id="MarcaCreate" required>
        <br>
        <label for="StockCreate">Stock</label>
        <input type="number" name="Stock" id="StockCreate" required>
        <br>
        <label for="PrecioCreate">Precio (en USD)</label>
        <input type="number" name="Precio" id="PrecioCreate" step=".01" required>
        <br>
        <input type="submit" value="Crear nuevo producto" />
    </form>

    <h3>Modificar producto</h3>
    <form action="/modificar_producto" method = "POST" id="ModForm" onsubmit="return validarMod()">
        <label for="idProductoMod">Producto</label>
        <select name="idProducto" id="idProductoMod">
            <option value="">Seleccione un producto</option>
        {% if productos %}
            {% for prod in productos %}
            <option value="{{ prod['idProducto'] }}">id:{{ prod['idProducto'] }} - {{ prod['Producto'] }}</option>
            {% endfor %}
        {% endif %}
        </select>
        <br>
        <label for="idCategoriaMod">Categoría</label>

        <select name="idCategoria" id="idCategoriaMod">
            <option value="">No modificar</option>
            <option value="1">Herramientas Manuales</option>
            <option value="2">Materiales Básicos</option>
            <option value="3">Equipos de Seguridad</option>
            <option value="4">Tornillos y Anclajes</option>
            <option value="5">Fijaciones y Adhesivos</option>
            <option value="6">Equipos de Medición</option>
        </select>
        <br>

        <label for="ProductoMod">Nombre Producto</label>
        <input type="text" name="Producto" id="ProductoMod">
        <br>
        <label for="MarcaMod">Marca</label>
        <input type="text" name="Marca" id="MarcaMod">
        <br>
        <label for="StockMod">Stock</label>
        <input type="number" name="Stock" id="StockMod">
        <br>
        <label for="PrecioMod">Precio (en USD)</label>
        <input type="number" name="Precio" id="PrecioMod" step=".01">
        <br>
        <input type="submit" value="Modificar producto" />
    </form>

    {% if productos %}
    <h2>Catálogo de productos</h2>
    <div id="catalogo-productos">
        {% for prod in productos %}
        <br>
        <table id="prod-{{ prod['idProducto'] }}">
            {% for k,v in prod.items() %}
            <tr>
                <td>{{ k }}:</td>
                <td class="{{ k }}">{{ v }}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Agregar 1" onclick="agregarProducto({{ prod['idProducto'] }})">
        <input type="submit" value="Quitar 1" onclick="quitarProducto({{ prod['idProducto'] }})">
        <label for="prod-{{ prod['idProducto'] }}-cantidad">En el carro:</label>
        <input id="prod-{{ prod['idProducto'] }}-cantidad" name="prod-{{ prod['idProducto'] }}-cantidad" value="0" readonly/>
        <br>
        {% endfor %}
    </div>
    {% endif %}

{#  Botón de pago  #}

    <br/>
    <form action='/pagarwebpay' method="POST">
        <label for="carritoTotal">Total a pagar:</label>
        <input id="carritoTotal" name="amount" readonly />
        <input type="submit" value="Pagar" />
    </form>

    {% if error %}
    <br/>
    <div>Tipo: {{ error.type }}</div>
    <div>Error: {{ error.message }}</div>
    <br/>
    {% endif %}
{% endblock main %}
{% block scripts %}
    <script src={{ 'static/carro.js' }}></script>
    <script>
    </script>
    <script>
        function validarMod() {
            let form = document.forms.namedItem("ModForm");
            let validez = false;
            for (let i = 0; i < form.length; i++) {
                console.log(form[i].name);
                console.log(form[i].value);
                if (form[i].name !== "idProducto" && form[i].type !== "submit") {
                    if (form[i].value !== "") {
                        console.log("cheking: " + form[i].type);
                        validez = true;
                    }
                }
            }
            console.log(validez);
            console.log(form["idProducto"].value);
            if (form["idProducto"].value === ""){
                validez = false;
            }
            console.log(validez);
            return validez;
        }
    </script>
{% endblock scripts %}
