{% extends "base.html" %}

{% block title %}Resultado del pago{% endblock title %}

{% block main %}
<table>
            {% for k,v in response.items() %}
                <tr>
                    <td>{{ k }}:</td>
                    <td class="{{ k }}">{{ v }}</td>
                </tr>
            {% endfor %}
</table>
    <button type="submit" onclick="window.location.href = '{{ url_for('home') }}'">Volver</button>
{% endblock main %}
{% block scripts %}
    <script type="text/javascript">
        {% if response['status'] == 'AUTHORIZED' %}
        const carrito = JSON.parse(localStorage.getItem("carrito"))
        //const carrito = localStorage.getItem('carrito')
        if (carrito){
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/update_stock", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        console.log('Stock updated successfully');
                        localStorage.removeItem('shoppingCart'); // Clear the shopping cart
                    } else {
                        console.error('Error updating stock:', response.error);
                    }
                } else if (xhr.readyState === 4) {
                    console.error('Error:', xhr.statusText);
                }
            };
            xhr.send(JSON.stringify({ carrito: carrito }));
        }
        {% endif %}
    </script>
{% endblock %}
